<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>GameStudio</h3>
    <p>
      Dit project geeft een overzicht van games, consoles en accessories weer. De specificaties van deze
      entiteiten worden weergegeven als deze worden opgevraagd. Verder kunnen alleen administrators games
      toevoegen en consoles toevoegen door in te loggen.
    </p>
    <p>
      Als Database is er gekozen voor MongoDB. Dit heeft de volgende redenen: Ik heb al met MongoDb gewerkt
      dus de functionaliteiten zijn al bekend. Hiernaast leek het mij handig om de schema's van MongoDb te
      koppelen met de entiteiten van Angular
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Rayen Syal</h5>
        <p class="card-text">
          Studentnummer: 2146737
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Game</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>ean: number</li>
      <li>console: Console</li>
      <li>pegi: number</li>
      <li>genre: string</li>
      <li>gamebrand: GameBrand</li>
      <li>released: date</li>
      <li>description: string</li>
      <li>userId: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Console</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>brand: string</li>
      <li>model: string</li>
      <li>hdd: string</li>
      <li>processor: string</li>
      <li>ram: string</li>
      <li>released: date</li>
      <li>description: string</li>
      <li>userId: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Game brand</p>
    <ul>
      <li>name: string</li>
      <li>owner: string</li>
      <li>introductionYear: date</li>
      <li>description: string</li>
      <li>history: string</li>
      <li>userId: string</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
