<h2>Update Console</h2>

<div class="card">
  <div class="card-body">
    <form *ngIf="console !== undefined" [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Name</label>
        <input
          type="text"
          value="{{ console.name }}"
          class="form-control"
          formControlName="console_name"
          #console_name
        />
      </div>
      <div
        *ngIf="
          angForm.controls['console_name'].invalid &&
          (angForm.controls['console_name'].dirty || angForm.controls['console_name'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['console_name'].errors.required">
          Console Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Brand</label>
        <input
          type="text"
          value="{{ console.brand }}"
          class="form-control"
          formControlName="console_brand"
          #console_brand
        />
      </div>
      <div
        *ngIf="
          angForm.controls['console_brand'].invalid &&
          (angForm.controls['console_brand'].dirty || angForm.controls['console_brand'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['console_brand'].errors.required">
          brand is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Model</label>
        <input
          type="text"
          value="{{ console.model }}"
          class="form-control"
          formControlName="console_model"
          #console_model
        />
      </div>
      <div
        *ngIf="
          angForm.controls['console_model'].invalid &&
          (angForm.controls['console_model'].dirty || angForm.controls['console_model'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['console_model'].errors.required">
          model is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">HDD</label>
        <input
          type="text"
          value="{{ console.hdd }}"
          class="form-control"
          formControlName="console_hdd"
          #console_hdd
        />
      </div>
      <div
        *ngIf="
          angForm.controls['console_hdd'].invalid &&
          (angForm.controls['console_hdd'].dirty || angForm.controls['console_hdd'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['console_hdd'].errors.required">
          HDD is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Processor</label>
        <input
          type="text"
          value="{{ console.processor }}"
          class="form-control"
          formControlName="console_processor"
          #console_processor
        />
      </div>
      <div
        *ngIf="
          angForm.controls['console_processor'].invalid &&
          (angForm.controls['console_processor'].dirty || angForm.controls['console_processor'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['console_processor'].errors.required">
          Processor is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Ram</label>
        <input
          type="text"
          value="{{ console.ram }}"
          class="form-control"
          formControlName="console_ram"
          #console_ram
        />
      </div>
      <div
        *ngIf="
          angForm.controls['console_ram'].invalid &&
          (angForm.controls['console_ram'].dirty || angForm.controls['console_ram'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['console_ram'].errors.required">
          Ram is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Date</label>
        <ejs-datepicker
          #ejDatePicker
          [value]="console.released"
          formControlName="console_date"
          name="console_date"
          floatLabelType="Auto"
        >
        </ejs-datepicker>
        <div
          *ngIf="datepicker.invalid && (datepicker.dirty || datepicker.touched)"
          class="alert alert-danger"
        >
          Enter DOB in MM/dd/yyyy.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Description</label>
        <input
          type="text"
          value="{{ console.description }}"
          class="form-control"
          formControlName="console_description"
          #console_description
        />
      </div>
      <div
        *ngIf="
          angForm.controls['console_description'].invalid &&
          (angForm.controls['console_description'].dirty || angForm.controls['console_description'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['console_description'].errors.required">
          Description is required.
        </div>
      </div>
      <div class="form-group">
        <button
          (click)="
            updateConsole(
              console_name.value,
              console_brand.value,
              console_model.value,
              console_hdd.value,
              console_processor.value,
              console_ram.value,
              ejDatePicker.value,
              console_description.value
            )
          "
          class="btn btn-primary"
          [disabled]="angForm.pristine || angForm.invalid"
        >
          Update Console
        </button>
      </div>
    </form>
  </div>
</div>
