<div *ngIf="console !== undefined">
  <h2 class="text-center">{{ console.name | uppercase }}</h2>

  <dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">{{ console._id }}</dd>

    <dt class="col-sm-3">Brand</dt>
    <dd class="col-sm-9">{{ console.brand }}</dd>

    <dt class="col-sm-3">Model</dt>
    <dd class="col-sm-9">{{ console.model }}</dd>

    <dt class="col-sm-3 text-truncate">HDD</dt>
    <dd class="col-sm-9">{{ console.hdd }}</dd>

    <dt class="col-sm-3">Processor</dt>
    <dd class="col-sm-9">{{ console.processor }}</dd>

    <dt class="col-sm-3">RAM</dt>
    <dd class="col-sm-9">{{ console.ram }}</dd>

    <dt class="col-sm-3">Released</dt>
    <dd class="col-sm-9">{{ console.released }}</dd>

    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">{{ console.description }}</dd>
  </dl>
  <button (click)="goBack()" class="btn-primary">Back</button>
  <button class="delete btn-danger" (click)="deleteConsole()">Delete</button>
  <button class="update btn-secondary" routerLink="update">Update</button>
</div>
