<div *ngIf="gamebrand !== undefined">
  <h2 class="text-center">{{ gamebrand.name | uppercase }}</h2>

  <dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">{{ gamebrand._id }}</dd>

    <dt class="col-sm-3">Owner</dt>
    <dd class="col-sm-9">{{ gamebrand.owner }}</dd>

    <dt class="col-sm-3">Introduction Year</dt>
    <dd class="col-sm-9">{{ gamebrand.introductionYear }}</dd>

    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">{{ gamebrand.description }}</dd>

    <dt class="col-sm-3 text-truncate">History</dt>
    <dd class="col-sm-9">{{ gamebrand.history }}</dd>
  </dl>
  <button (click)="goBack()" class="btn-primary">Back</button>
  <button class="delete btn-danger" (click)="deletegamebrand()">Delete</button>
  <button class="update btn-secondary" routerLink="update">Update</button>
</div>
