<h2 class="text-center">Games</h2>
<button class="btn-dark" routerLink="create">Create Game</button>
<ul class="games">
  <li *ngFor="let game of game" routerLink="detail/{{ game._id }}" [routerLinkActive]="['active']">
    <span class="badge"></span> {{ game.name }}
  </li>
</ul>
