<h2 class="text-center">Consoles</h2>
<button class="btn-dark" routerLink="create">Create Console</button>
<ul class="consoles">
  <li *ngFor="let console of Consoles" routerLink="detail/{{ console._id }}" [routerLinkActive]="['active']">
    <span class="badge"></span> {{ console.name }}
  </li>
</ul>
