<h2>Create Game Brand</h2>
<div class="card">
  <div class="card-body">
    <form *ngIf="game !== undefined" [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Name</label>
        <input
          type="text"
          class="form-control"
          value="{{ game.name }}"
          formControlName="gameName"
          #gameName
        />
      </div>
      <div
        *ngIf="angForm.controls['gameName'].invalid && angForm.controls['gameName'].dirty"
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['gameName'].errors.required">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Ean</label>
        <input type="text" class="form-control" value="{{ game.ean }}" formControlName="gameEan" #gameEan />
      </div>
      <div *ngIf="angForm.controls['gameEan'].invalid" class="alert alert-danger">
        <div *ngIf="angForm.controls['gameEan'].errors.required">
          Ean is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Consoles</label>
        <select class="form-control" id="gameConsole" formControlName="gameConsole" #gameConsole>
          <option *ngFor="let console of consoles" [ngValue]="console._id">{{ console.name }}</option>
        </select>
      </div>

      <div
        *ngIf="
          angForm.controls['gameConsole'].invalid &&
          (angForm.controls['gameConsole'].dirty || angForm.controls['gameConsole'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['gameConsole'].errors.required">
          console is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Pegi</label>
        <input
          type="text"
          class="form-control"
          value="{{ game.pegi }}"
          formControlName="gamePegi"
          #gamePegi
        />
      </div>
      <div *ngIf="angForm.controls['gamePegi'].invalid" class="alert alert-danger">
        <div *ngIf="angForm.controls['gamePegi'].errors.required">
          Pegi is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Genre</label>
        <div class="radio">
          <label> <input type="radio" formControlName="gameGenre" value="action" #gameGenre /> Action </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" formControlName="gameGenre" value="Adventure" #gameGenre /> Adventure
          </label>
        </div>
        <div class="radio">
          <label> <input type="radio" formControlName="gameGenre" value="Puzzle" #gameGenre /> Puzzle </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" formControlName="gameGenre" value="Simulation" #gameGenre /> Simulation
          </label>
        </div>
        <div class="radio">
          <label> <input type="radio" formControlName="gameGenre" value="RPG" #gameGenre /> RPG </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" formControlName="gameGenre" value="Strategy" #gameGenre /> Strategy
          </label>
        </div>
      </div>

      <div
        *ngIf="
          angForm.controls['gameGenre'].invalid &&
          (angForm.controls['gameGenre'].dirty || angForm.controls['gameGenre'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['gameGenre'].errors.required">
          Genre is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Game brand</label>
        <select class="form-control" id="gameGamebrand" formControlName="gameGamebrand" #gameGamebrand>
          <option *ngFor="let gamebrand of gamebrand" [ngValue]="gamebrand._id">{{ gamebrand.name }}</option>
        </select>
      </div>

      <div
        *ngIf="
          angForm.controls['gameGamebrand'].invalid &&
          (angForm.controls['gameGamebrand'].dirty || angForm.controls['gameGamebrand'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['gameGamebrand'].errors.required">
          Gamebrand is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Description</label>
        <input
          type="text"
          class="form-control"
          value="{{ game.description }}"
          formControlName="gameDescription"
          #gameDescription
        />
      </div>
      <div *ngIf="angForm.controls['gameDescription'].invalid" class="alert alert-danger">
        <div *ngIf="angForm.controls['gameDescription'].errors.required">
          Description is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Release Date</label>
        <ejs-datepicker
          #ejDatePicker
          formControlName="gameReleased"
          name="gameReleased"
          floatLabelType="Auto"
        >
        </ejs-datepicker>
        <div
          *ngIf="datepicker.invalid && (datepicker.dirty || datepicker.touched)"
          class="alert alert-danger"
        >
          Enter Release date in mm/dd/yyyy.
        </div>
      </div>

      <div class="form-group">
        <button
          (click)="
            UpdateGame(
              gameName.value,
              gameEan.value,
              gameConsole.value,
              gamePegi.value,
              gameGenre.value,
              gameGamebrand.value,
              ejDatePicker.value,
              gameDescription.value
            )
          "
          [disabled]="angForm.pristine || angForm.invalid"
          class="btn btn-primary"
        >
          Add Game brand
        </button>
      </div>
    </form>
  </div>
</div>
