<div *ngIf="game !== undefined">
  <h2 class="text-center">{{ game.name | uppercase }}</h2>

  <dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">{{ game._id }}</dd>

    <dt class="col-sm-3">EAN</dt>
    <dd class="col-sm-9">{{ game.ean }}</dd>

    <dt class="col-sm-3">Console</dt>
    <dd class="col-sm-9">{{ game.console }}</dd>

    <dt class="col-sm-3 text-truncate">PEGI</dt>
    <dd class="col-sm-9">{{ game.pegi }}</dd>

    <dt class="col-sm-3">Genre</dt>
    <dd class="col-sm-9">{{ game.genre }}</dd>

    <dt class="col-sm-3">Game Brand</dt>
    <dd class="col-sm-9">{{ game.gamebrand }}</dd>

    <dt class="col-sm-3">Released</dt>
    <dd class="col-sm-9">{{ game.released }}</dd>

    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">{{ game.description }}</dd>
  </dl>
  <button class="btn-primary" (click)="goBack()">Back</button>
  <button class="delete btn-danger" (click)="deleteGame()">Delete</button>
  <button class="update btn-secondary" routerLink="update">Update</button>
</div>
