<h2>Update Game Brand</h2>
<div class="card">
  <div class="card-body">
    <form *ngIf="gamebrand !== undefined" [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Name</label>
        <input
          type="text"
          value="{{ gamebrand.name }}"
          class="form-control"
          formControlName="gamebrandName"
          #gamebrandName
        />
      </div>
      <div
        *ngIf="
          angForm.controls['gamebrandName'].invalid &&
          (angForm.controls['gamebrandName'].dirty || angForm.controls['gamebrandName'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['gamebrandName'].errors.required">
          Game Brand Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Owner</label>
        <input
          type="text"
          value="{{ gamebrand.owner }}"
          class="form-control"
          formControlName="gamebrandOwner"
          #gamebrandOwner
        />
      </div>
      <div
        *ngIf="
          angForm.controls['gamebrandOwner'].invalid &&
          (angForm.controls['gamebrandOwner'].dirty || angForm.controls['gamebrandOwner'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['gamebrandOwner'].errors.required">
          The owner is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Introduction Year</label>
        <ejs-datepicker
          #ejDatePicker
          formControlName="gamebrandIntroductionyear"
          name="gamebrandIntroductionyear"
          floatLabelType="Auto"
        >
        </ejs-datepicker>
        <div
          *ngIf="datepicker.invalid && (datepicker.dirty || datepicker.touched)"
          class="alert alert-danger"
        >
          Enter Introduction Year in mm/dd/yyyy.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Description</label>
        <input
          type="text"
          value="{{ gamebrand.description }}"
          class="form-control"
          formControlName="gamebrandDescription"
          #gamebrandDescription
        />
      </div>
      <div
        *ngIf="
          angForm.controls['gamebrandDescription'].invalid &&
          (angForm.controls['gamebrandDescription'].dirty || angForm.controls['gamebrandDescription'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['gamebrandDescription'].errors.required">
          A description is required
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">History</label>
        <input
          type="text"
          value="{{ gamebrand.history }}"
          class="form-control"
          formControlName="gamebrandHistory"
          #gamebrandHistory
        />
      </div>
      <div
        *ngIf="
          angForm.controls['gamebrandHistory'].invalid &&
          (angForm.controls['gamebrandHistory'].dirty || angForm.controls['gamebrandHistory'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['gamebrandHistory'].errors.required">
          A history is required.
        </div>
      </div>
      <div class="form-group">
        <button
          (click)="
            updateGamebrand(
              gamebrandName.value,
              gamebrandOwner.value,
              ejDatePicker.value,
              gamebrandDescription.value,
              gamebrandHistory.value
            )
          "
          [disabled]="angForm.pristine || angForm.invalid"
          class="btn btn-primary"
        >
          Update Game brand
        </button>
      </div>
    </form>
  </div>
</div>
