<h2 class="text-center">Game Brands</h2>
<button class="btn-dark" routerLink="create">Create Gamebrand</button>
<ul class="gamebrands">
  <li
    *ngFor="let gamebrand of gamebrands"
    routerLink="detail/{{ gamebrand._id }}"
    [routerLinkActive]="['active']"
  >
    <span class="badge"></span> {{ gamebrand.name }}
  </li>
</ul>
